<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Language" value="fr-FR"/>
    <add key="MinimalTemplateQualityPercent" value="75" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TOSHIBA\SQLSERVER2008R2;Initial Catalog=SyncMaster205;User ID=sa;Password=XXXXXXX"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>